.backgroundCard{
    position: absolute;
    min-width: 100%;
    height: 90%;
    right: 0px;
    bottom: 0px;   
    border-radius: 50px 50px 0px 0px;
    z-index: -1;
}

.main{
    position: absolute;
    top: 47%;
    width: 60%;
    left: 50%;
    transform: translate(-50%,-50%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.image{
    min-width: 150px;
    min-height: 100px;
    width: 300px;
    height: 250px;
    border-radius: 50px;

}

.text{
    width: 70%;
    padding-bottom: 10px;
    color: white;
    font-family: Tahoma;
    font-size: 18px;
}

.gridRow1{
    display: grid; 
    width: 1050px;
    grid-template-columns: 37% 20% 43%;
    grid-gap: 10px;
    padding-bottom: 20px;
}

.gridRow2{
    display: grid; 
    width: 1000px;
    grid-template-columns: 50% 50%;
    grid-gap: 10px;
}

.gridRow3{
    display: grid; 
    width: 50%;
    left: 50%;
    grid-template-columns: 50% 50%;
    grid-gap: 10px;
}